@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #111111;
}
img{
    max-width: 100%;
    height: auto;
}

nav, .banner-top{
    width: 80%;
    margin: 0 auto;
}
/* header area */
header{
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-title{
    font-size: 45px;
    color: #0B0223;
    font-weight: 700;
}
.color{
    color: #FF42A5;
}
nav > ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav li:last-child{
    padding: 10px;
    background-color: #E7E6E9;
    border-radius: 5px;
}
nav li a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
nav li a i{
    margin-left: 10px;
}

/* banner area styles  */
.banner{
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
}
.banner-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.banner-subtitle{
    font-size: 48px;
    font-weight: 600;
    color: #0B0223;
}
.banner-title{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-top ul{
    margin: 20px 0;
}
.banner-top li{
    margin-top: 10px;
    font-size: 20px;
    color: #534C64;
    font-weight: 500;
}
.primary-btn{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    background-color: #F948B2;
    border: 0;
    border-radius: 30px;
    margin: 20px 20px 0 0;
}
.secondary-btn{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    background-color: #4EC5F7;
    border: 0;
    border-radius: 30px;
}


/* responsive area  */

@media screen and (max-width: 566px) {
    nav, nav > ul{
        flex-direction: column;
        margin-top: 20px;
    }
    .banner{
        background-image: none;
    }
    .banner-top{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .banner-content{
        background-image: url('images/Group\ 14.png');
        text-align: center;
        padding: 20px;
    }
}